*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1e0555;
}

.timer
{
    position: absolute;
    top:4rem;
    font-size: 6rem;
    color:antiquewhite;   
}

.container{
    background-color: #f0db4f;
    width: 800px;
    max-width: 90%;
    border-radius: .5rem;
    padding: 1rem;   
}

.quote-display{
    margin-left: 1rem;
    margin-bottom: .5rem;
    font-size: 22px;
}

.quote-input{
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: transparent;
    border:2px solid #a1922e;
    resize: none;
    margin: auto;
    outline: none;
    width: 100%;
    font-size: 18px;
    height: 100px;
}

.quote-input:focus{
    border-color: black;
}

body,.quote-input
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.correct{
    color: green;
}

.incorrect{
    color: red;
    text-decoration: underline;
}

.bottom{
    display: flex;
    justify-content: center;
    background-color: #f0db4f;
    position: absolute;
    top:30rem;
    width: 200px;
    max-width: 90%;
    border-radius: .5rem;
    padding: .5rem 1rem;
   
}
